<a href="https://colab.research.google.com/github/SobanAliAwan/DATA-SCIENCE-COURSE-SMIT/blob/main/CLASS_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ARITHEMATIC OPERATORS

In [1]:
a = 4
y = 2
x = a + y
print(x)

6

In [2]:
x = a - y
print(x)

2

In [3]:
x = a * y
print(x)

8

In [4]:
x = a / y
print(x)

2.0

In [5]:
x = a % y
print(x)

0

In [6]:
x = a ** y
print(x)

16

In [7]:
x = a // y
print(x)

2

### RELATIONAL OPERATORS

In [10]:
a = 4
y = 2
x = a > y
print(x)

True

In [11]:
x = a < y
print(x)

False

In [12]:
x == y

False

In [13]:
x = a >= y
print(x)

True

### ATM BANK MACHINE

In [19]:
balance = 1000
withdraw = 200
balaance = balaance - withdraw
print(balaance)

600

In [20]:
(withdraw % 500) == 0

False

### LOGICAL OPERATORS

In [22]:
(withdraw < balance) and (withdraw % 500 == 0)

False

In [23]:
(withdraw < balance) or (withdraw % 500 == 0)

True

In [24]:
not (withdraw < balance) and (withdraw % 500 == 0)

False

### ASSIGNMENT OPERATOR

In [25]:
balance = 1000
balance += 200
print(balance)

1200

### MEMBERSHIP OPERATORS

In [26]:
students = ['ram','shyam','hari','gita']
'ram' in students

True

### IDENTITY OPERATORS

In [27]:
type (students) is list

True

### FUNCTIONS

In [29]:
# block of resusable code
def ftn(name):
    return name
ftn('Soban Ali Awan')

'Soban Ali Awan'

In [32]:
# calculator

def add(a,b):
  return a + b

def sub(a,b):
  return a - b

def mul(a,b):
  return a * b

def div(a,b):
  return a / b

def calculate():
  num1 = float(input('Enter first number: '))
  num2 = float(input('Enter second number: '))

  addition = add(num1,num2)
  subtraction = sub(num1,num2)
  multiplication = mul(num1,num2)
  division = div(num1,num2)

  print(f'Addition: {addition}')
  print(f'Subtraction: {subtraction}')
  print(f'Multiplication: {multiplication}')
  print(f'Division: {division}')

calculate()

Enter first number: 2
Enter second number: 2
Addition: 4.0
Subtraction: 0.0
Multiplication: 4.0
Division: 1.0
None