<a href="https://colab.research.google.com/github/SobanAliAwan/DATA-SCIENCE-COURSE-SMIT/blob/main/CLASS_7(OOP).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
class student:

  def __init__(self, name, age, rollno, adress, section, department):
    self.name = name
    self.age = age
    self.rollno = rollno
    self.adress = adress
    self.section = section
    self.department = department

  def display(self):
    print('name:', self.name)
    print('age:', self.age)
    print('rollno:', self.rollno)
    print('adress:', self.adress)
    print('section:', self.section)
    print('department:', self.department)

  def update(self,rollno):
    self.rollno = rollno


# creating an object of class
s1 = student('Soban Ali Awan', 21, 101, 'Kohat Road, Kohat', 'A', 'Computer Science')

# call the method on object
s1.display()

s1.update(102)
s1.display()

name: Soban Ali Awan
age: 21
rollno: 101
adress: Kohat Road, Kohat
section: A
department: Computer Science
name: Soban Ali Awan
age: 21
rollno: 102
adress: Kohat Road, Kohat
section: A
department: Computer Science

In [10]:
class Teacher:
  def __init__(self, name, age, salary,Teacher_id,courses):
    self.name = name
    self.age = age
    self.__salary = salary
    self.Teacher_id = Teacher_id
    self.courses = courses

  def courses_offered(self):
    self.courses = ['Math', 'Science', 'English']
    return self.courses

  def display(self):
    print('name:', self.name)
    print('age:', self.age)
    print('salary:', self.__salary)
    print('Teacher_id:', self.Teacher_id)
    print('courses:', self.courses)

  def update(self,salary,courses):
    self.__salary = salary
    self.courses = courses

T1 = Teacher('Soban',21,50000,24221,['Math','Science'])
T1.display()
T1.update(60000,['Math','Science','English'])
T1.display()

name: Soban
age: 21
salary: 50000
Teacher_id: 24221
courses: ['Math', 'Science']
name: Soban
age: 21
salary: 60000
Teacher_id: 24221
courses: ['Math', 'Science', 'English']

In [14]:
class Teacher:
  def __init__(self, name, age, salary, Teacher_id, courses):
    self.name = name
    self.age = age
    self.__salary = salary   # private variable
    self.Teacher_id = Teacher_id
    self.courses = courses

  def courses_offered(self):
    return self.courses

  def display(self):
    print('name:', self.name)
    print('age:', self.age)
    print('salary:', self.__salary)
    print('Teacher_id:', self.Teacher_id)
    print('courses:', self.courses)

  def update(self, salary, courses):
    self.__salary = salary
    self.courses.append(courses)

  def remove(self,courses):
    self.courses.remove(courses)

  def replace(self,courses):
    self.courses = courses


# testing
T1 = Teacher('Soban', 21, 50000, 24221, ['Math', 'Science'])
T1.display()

print("Courses offered:", T1.courses_offered())  # shows current courses

T1.update(60000, 'English')  # update salary and add
T1.display()

T1.remove('English')
T1.display()

T1.replace(['Math', 'Science', 'English'])
T1.display()

name: Soban
age: 21
salary: 50000
Teacher_id: 24221
courses: ['Math', 'Science']
Courses offered: ['Math', 'Science']
name: Soban
age: 21
salary: 60000
Teacher_id: 24221
courses: ['Math', 'Science', 'English']
name: Soban
age: 21
salary: 60000
Teacher_id: 24221
courses: ['Math', 'Science']
name: Soban
age: 21
salary: 60000
Teacher_id: 24221
courses: ['Math', 'Science', 'English']

In [18]:
class Book:
    def __init__(self, title, author, pages, price):
        self.title = title
        self.author = author
        self.pages = pages
        self.price = price

    def display_info(self):
        print(f"\nTitle: {self.title}")
        print(f"Author: {self.author}")
        print(f"Pages: {self.pages}")
        print(f"Price: ${self.price}")

books = []
for i in range(3):
    print(f"\nEnter details for Book {i+1}:")
    title = input("Enter the title of the book: ")
    author = input("Enter the author of the book: ")
    pages = int(input("Enter the number of pages in the book: "))
    price = float(input("Enter the price of the book: "))

    book = Book(title, author, pages, price)
    books.append(book)

print("\n--- User Entered Books ---")
for b in books:
    b.display_info()

Enter details for Book 1:
Enter the title of the book: A walk in clouds
Enter the author of the book: Francine Rivers
Enter the number of pages in the book: 500
Enter the price of the book: 1500

Enter details for Book 2:
Enter the title of the book: The art of seduction
Enter the author of the book: Robert Green
Enter the number of pages in the book: 800
Enter the price of the book: 2000

Enter details for Book 3:
Enter the title of the book: Power
Enter the author of the book: Robert Green
Enter the number of pages in the book: 500
Enter the price of the book: 2000

--- User Entered Books ---

Title: A walk in clouds
Author: Francine Rivers
Pages: 500
Price: $1500.0

Title: The art of seduction
Author: Robert Green
Pages: 800
Price: $2000.0

Title: Power
Author: Robert Green
Pages: 500
Price: $2000.0